body {
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
.btn {
    cursor: pointer;
}

.modal-dialog.open .modal-overlay,
.modal-dialog.open .modal-body {
    opacity: 1;
    z-index: 1000;
}
.modal-dialog.open .modal-body {
    transform: translateY(100px);
}
.modal-dialog.open .modal-overlay {
    background-color: rgb(0, 0, 0, .5);
}
.modal-dialog.hide .modal-overlay,
.modal-dialog.hide .modal-body {
    opacity: 1;
    z-index: 1000;
}
.modal-dialog.hide .modal-body {
    transform: translateY(-200px);
}
.modal-dialog.hide .modal-overlay {
    background-color: rgb(0, 0, 0, 0);
}
.modal-overlay,
.modal-body {
    opacity: 0;
    z-index: -1;
}
.modal-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0);
    transition: background-color .2s ease-in;
}
.modal-body {
    width: 600px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    transform: translateY(-200px);
    transition: transform .2s ease-in;
}
.modal-header {
    padding: 15px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #ccc;
}
.modal-header__title {
    font-size: 1.5rem;
}
.modal-header__close {
    width: 14px;
    height: 14px;
    position: relative;
    margin-left: auto;
    cursor: pointer;
}
.modal-header__close::before,
.modal-header__close::after {
    content: '';
    width: 2px;
    height: 100%;
    background-color: #505050;
    position: absolute;
    left: 6px;
    border-radius: 2px;
}
.modal-header__close::before {
    transform: rotate(45deg);
}
.modal-header__close::after {
    transform: rotate(-45deg);
}
.modal-content,
.modal-footer {
    padding: 15px;
}
.cards {
    display: flex;
}
.cards .card {
    width: calc(100% / 3);
    padding: 0 15px;
}
.cards .card .card-body {
    padding: 20px;
    border: 1px solid #969191;
    border-radius: 10px;
}
.cards .card-img {
    width: 100%;
    height: 200px;
}
.cards .card .card-body .card-title {
    font-size: 22px;
    margin: 15px 0;
}
.cards .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    border: none;
    border-radius: 10px;
}
.cards .card .card-body .btn {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 4px;
}
.cards .card .card-body .btn-buy {
    background-color: royalblue;
}
.cards .card .card-body .btn-clear {
    background-color: red;
}